/* You can add global styles to this file, and also import other style files */
/* Global Variables */
:root {
--bg-color: #000;
--border-color: #777;
--border-radius: 0.25rem;
--text-color: #fff;
--link-text-color: #ccc;
--link-text-color-hover: #fff;
--window-bg-color: #111;
--button-bg-color-hover: #224;
--button-bg-color-active: #227;
--interactive-padding: 0.25rem 0.5rem;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

html {
line-height: 1.5;
height: 100%;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: var(--bg-color);
color: var(--text-color);
min-height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
}

a {
color: var(--link-text-color);
text-decoration: none;

&:hover {
    color: var(--link-text-color-hover);
    text-decoration: underline;
}
}

button,
input,
optgroup,
select,
textarea {
line-height: 1.125;
}
